wxpython==4.0.4
mplfinance==0.12.7a10
mpl_finance==0.10.0
TA-Lib==0.4.17
numpy==1.15.1
pandas==0.23.4
pandas-datareader==0.7.0
pyecharts==1.7.0
matplotlib==3.1.1
tushare==1.2.51
baostock==0.8.8
statsmodels==0.9.0
tabulate
